body{
    background-color: #d5e1ef;
}

.box{
    height: 450px;
    width: 285px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -220px;
    text-align: center;
    filter: drop-shadow(10px 10px 30px #bbc7d3);
}

p{
    color: gray;
    font-size: 0.9375em; 
}

img{
    border-radius: 10px;
}

h3{
    font-size: 1.22em;
    line-height: 1.3;
}
